{% if object_list %}
{% for host in object_list %}# {{ host.hostname }}
# {{host.comment}}
{% for ip in host.ipaddr_set.all %}{{ ip.ipaddr }} {{ host.hostname }} {% for alias in host.alias_set.all %}{{ alias.alias }} {% endfor %} {% endfor %}
{% endfor %}
{% else %}
# No hosts
{% endif %}
